{# src/AppBundle/Resources/views/Tournament/tournament.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Tournament{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/jquery-ui.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ tournament.name }}</h2>

        <p>Tournament hosted on {{ tournament.hosted|date("l, F j, Y") }}.</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Participants</h3>
            </div>

            <ul class="list-group" id="participants">
                {% for player in tournament.players %}
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                        <span class="badge player-rank">{{ player.rank }}</span>
                        <a href="{{ path('player_by_id', {'id': player.id}) }}">{{ player.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <p>Arrange the players in the order of best placed first, and worse place last. Then complete tournament.</p>

        <p><button class="btn btn-primary" id="complete-tournament">Complete Tournament</button></p>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/jquery-ui.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
    var completeUrl = "{{ path('complete_tournament', {'id': tournament.id }) }}",
        successUrl = "{{ path('tournaments') }}",
        players = [];

    function completeTournament() {
        $(this).attr('disabled', true);

        $( 'ul#participants li' ).each(function (i) {
            var self = $(this),
                temp = {
                    name: self.find('a').text(),
                    rank: self.find('.player-rank').text()
                };

            players.push(temp);
        });

        $.ajax({
            url: completeUrl,
            method: 'POST',
            data: {players: players},
            success: function (data) {
                console.log(data);
                window.location.replace(successUrl);
            }
        });
    }

    $(function() {
        $( '#participants' ).sortable();

        $( '#complete-tournament' ).click(completeTournament);
    });
    </script>
{% endblock %}
