{# src/AppBundle/Resources/views/Tournament/tournaments.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}All Tournaments{% endblock %}

{% block body %}
    <div class="container">

        <h2>Tournaments</h2>

        <div class="list-group">
            {% for tournament in tournaments %}
                <a class="list-group-item" href="{{ path('tournament_by_id', {'id': tournament.id}) }}">
                    <span class="badge">Participants: {{ tournament.players|length }}</span>
                    {{ tournament.name }}
                    <span class="label label-default">{{ tournament.hosted|date('m/d/y') }}</span>
                </a>
            {% endfor %}
        </div>

        <p><a class="btn btn-primary" href="{{ path('add_tournament') }}">Create a tournament</a></p>
    </div>
{% endblock %}
