{# src/AppBundle/Resources/views/Store/list.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}All Stores{% endblock %}

{% block body %}
    <div class="container">
        <h2>Stores</h2>

        <p class="btn-group btn-group-xs">
            <a href="{{ path('stores') }}?type=all" class="btn btn-default {% if picked_state == 'all' %}active{% endif %}">All</a>
            <a href="{{ path('stores') }}?type=active" class="btn btn-default {% if picked_state == 'active' %}active{% endif %}">Active</a>
            <a href="{{ path('stores') }}?type=disabled" class="btn btn-default {% if picked_state == 'disabled' %}active{% endif %}">Disabled</a>
        </p>

        <div class="list-group">
            {% for store in stores %}
                <a class="list-group-item" href="{{ path('store_by_id', {'id': store.id}) }}">
                    {{ store.name }}
                    <span class="label label-info">{{ store.city }}, {{ store.state }}</span>
                </a>
            {% endfor %}
        </div>

        <p>Don't see your store? <a class="btn btn-primary btn-xs" href="{{ path('add_store') }}">Add Store</a></p>
    </div>
{% endblock %}
