{# src/AppBundle/Resources/views/Store/add.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}{{ action }} Store{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ action }} Store</h2>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
