{# src/AppBundle/Resources/views/Store/stores.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}All Stores{% endblock %}

{% block body %}
    <div class="container">
        <h2>Stores</h2>

        <div class="list-group">
            {% for store in stores %}
                <a class="list-group-item" href="{{ path('store_by_id', {'id': store.id}) }}">
                    {{ store.name }}
                    <span class="label label-info">{{ store.city }}, {{ store.state }}</span>
                </a>
            {% endfor %}
        </div>

        <p>Don't see your store? <a class="btn btn-default btn-sm" href="{{ path('add_store') }}">Add Store</a></p>
    </div>
{% endblock %}
