{# src/AppBundle/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <p>The best thing about bag tags is having challenges to get a better number.
                Challenges can be between two players or with multiple participants.
                Regardless, we call them <a href="{{ path('tournaments') }}">Tournaments</a>, but don't let the name fool you,
                tournaments are for casual one-off dogfights at the kitchen table, as well as for competative play such as Store Championships.</p>
            <p><a class="btn btn-primary" href="{{ path('add_tournament') }}" role="button">Create Tournament</a></p>
        </div>

        <table class="table">
            <thead>
                <tr><th>Rank</th><th>Player</th><th>Stores the Player Frequents</th></tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.rank }}</td>
                        <td><a href="{{ path('player_by_id', {'id': player.id}) }}">{{ player.name }}</a></td>
                        <td>
                            {% for store in player.stores %}
                                <a href="{{ path('store_by_id', {'id': store.id}) }}">{{ store.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan=2>No players found, <a href="{{ path('add_player') }}">add one</a>.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <p><a class="btn btn-default btn-sm" href="{{ path('add_tournament') }}">Create Tournament</a></p>
    </div>
{% endblock %}
