{# src/AppBundle/Resources/views/Challenge/add.html.twig #}
{% extends "::base.html.twig" %}

{% form_theme form _self %}

{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="row">
            {%- for child in form %}
                <div class="col-md-2">
                    {{- form_widget(child, {
                        parent_label_class: label_attr.class|default(''),
                        translation_domain: choice_translation_domain,
                    }) -}}
                </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded %}

{% block title %}{{ action }} Challenge{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ action }} Challenge</h2>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
