{# src/AppBundle/Resources/views/Player/bulk.html.twig #}
{% extends "::base.html.twig" %}

{% form_theme form _self %}

{% block _players_entry_widget %}
    <tr>
        <td>{{ form_widget(player.name) }}</td>
        <td>{{ form_widget(player.rank) }}</td>
    </tr>
{% endblock %}

{% block title %}Bulk Edit Players{% endblock %}

{% block body %}
    <div class="container">
        <h2>Bulk Edit Players</h2>

        {{ form_start(form) }}
        {# form_errors(form) #}
        {# form_widget(form) #}
            <table class="table table-hover">
                {% for player in form.players %}
                    <tr>
                        <td>{{ form_row(player.name) }}</td>
                        <td>{{ form_row(player.rank) }}</td>
                        <td>{{ form_row(player.active) }}</td>
                    </tr>
                {% endfor %}
            </table>

        {{ form_end(form) }}
    </div>
{% endblock %}
