{# src/AppBundle/Resources/views/Player/player.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}{{ action }} Player{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ action }} Player</h2>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
